---
import Layout from '../layouts/Layout.astro';
import Fish from "../components/Fish.svelte";
import Link from "../components/Link.svelte";
import Card from "../components/Card.svelte";
import emailIcon from "../assets/email.png";
import githubIcon from "../assets/github.png";
import linkedinIcon from "../assets/linkedin.png";
---

<Layout title="Ryan Lin">
		<Fish client:load />
		<div class="flex flex-col gap-9 md:flex-row w-screen h-screen overflow-scroll scrollbar-hidden py-8 px-8">
			<div class="md:w-1/2 m-auto flex flex-col justify-center items-center gap-3">
				<div>
					<h2 class="name text-8xl w-fit mb-4">Ryan Lin</h2>
					<Link
						text="ryanlin58@gmail.com"
						icon={emailIcon} 
						url=""
					/>
					<Link
						client:load
						text="Github"
						icon={githubIcon} 
						url="https://github.com/Ryanksa"
					/>
					<Link
						client:load
						text="LinkedIn"
						icon={linkedinIcon} 
						url="https://linkedin.com/in/hungjenlin"
					/>
				</div>
			</div>
			<div
				class="md:w-1/2 m-auto flex flex-col items-center"
			>
				<h2 class="name text-6xl mb-8">Projects</h2>
				<div class="grid grid-cols-2 grid-rows-2 gap-8 content-start min-h-[24rem]">
					<Card
						client:load
						header="Oka"
						body="An app for checking news, mapping out work, and taking breaks!"
						url="https://okahome.vercel.app"
						inDelay={0}
					/>
					<Card
						client:load
						header="MasQuerade"
						body="Real-time chat app with design inspired by the game Persona 5."
						url="https://masquerade.up.railway.app"
						inDelay={300}
					/>
					<Card
						client:load
						header="Glob3D"
						body="3D, open-world, simultaneous multi-user blogging app!"
						url="https://glob3d.tk/"
						inDelay={600}
					/>
				</div>
			</div>
		</div>
</Layout>